.page-types {
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-types-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5.5rem auto 3rem;

    height: 100%;
    width: 100%;
}

.page-types-content header {
    background: var(--grey);

    display: grid;
    grid-template-columns: auto 5.5rem 5.5rem;
    
    align-items: center;
    text-align: left;
}

.page-types-content header h1 {
    color: var(--green);
    padding-left: 2rem;
}

.page-types-content header a {
    width: 2.4rem;
    height: 2.4rem;

    padding-left: calc(50% - 1.2rem);
}

.page-types-content header .button {
    color: var(--white);
    opacity: 0.5;
    
    width: 2.4rem;
    height: 2.4rem;
    
    transition: 200ms;
}

.page-types-content header .button:hover {
    opacity: 1;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 5rem auto;

    height: calc(100% - 6rem);
    width: 100%;
}

.page-types-content main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-types-content main > div {
    background: var(--grey);
    padding: 5rem;
    border-radius: 0.5rem;
    width: 90%;
    max-width: 992px;
}

.page-types-content .main-container form {
    display: grid;
    grid-template-columns: auto 20rem 15rem;
    gap: 1rem;
    width: 100%;
}

.page-types-content main .add-button {
    width: 15rem;
}

.page-types-content main input {
    padding: 1rem;

    border: 0 none;
    border-radius: 5px;
    border-left: 5px solid transparent;
}

.page-types-content main input:focus {
    outline: none;
    border-left: 5px solid var(--green);
}

.page-types-content main select {
    padding: 1rem;

    border: 0 none;
    border-radius: 5px;
    border-left: 5px solid transparent;
    
    cursor: pointer;
}

.page-types-content main select:focus {
    outline: none;
    border-left: 5px solid var(--green);
}

.page-types-content main button {
    padding: 1rem;

    border: 0 none;
    border-radius: 5px;
    
    background: var(--green);
    color: var(--black);

    transition: 200ms;

    cursor: pointer;
}

.page-types-content main button:hover {
    filter: brightness(0.9);
}

.page-types-content main button:focus {
    outline: none;
}

.page-types-content footer {
    background: var(--grey);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
